.notAuth_block {
  margin-top: -2%;
  text-align: center;
}

.title {
  margin-top: 10%;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  color: #4e4e4e;
}

.text {
  font-family: Montserrat;
  margin-bottom: 5%;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.oneButton {
  margin: 10px;
}

.buttonAuth {
  background-color: #4dd599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: darken(#4dd599, 5%);
  }

  &:active {
    background-color: darken(#4dd599, 10%);
  }

  &:disabled {
    background-color: #d8d8d8;
  }

  &_grey {
    background-color: #F4F6F8;
    color: #9C9C9C;

    &:hover {
      background-color: darken(#F4F6F8, 3%);
    }

    &:active {
      background-color: darken(#F4F6F8, 6%);
    }
  }
}