.containerRegistration {
  width: 30%;
  margin: 0 auto;
  font-family: Montserrat;
}

.root {
  padding: 50px;
  border: 1px solid #dedede;
  margin-top: 10%;
}

.fieldRegistration {
  margin-bottom: 20px !important;
}

.titleRegistration {
  text-align: center;
  font-weight: 500;
  color: #4e4e4e;
  margin-bottom: 20px !important;
}

.title {
  margin-top: 20%;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  color: #4e4e4e;
}

.text {
  font-family: Montserrat;
  margin-bottom: 5%;
}

.test {
  text-align: center;
}