* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', system-ui, -apple-system;
  font-size: 14px;
  color: #4e4e4e;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.app {
  display: flex;
  box-shadow: 1px 2px 20px #ececec;
  border: 1px solid #ececec;
  min-height: 99.5vh;

  &__sidebar {
    width: 20%;
    background-color: #F4F6F8;
    padding: 40px 20px 60px 20px;
    min-height: 99.5vh;
  }

  &__tasks {
    flex: 1;
    // width: 80%;
    padding: 40px;
  }
}